<html lang="pl">

<head>
    <meta charset="utf-8">
    <style>
        body {
            height: 842px;
            width: 750px;
            /* to centre page on screen*/
            margin-left: auto;
            margin-right: auto;
        }

        li {
            padding-left: 1em;
        }
    </style>
</head>

<body style="font-size:12pt; font-family: 'Times New Roman', Times, serif;">
    <div class="order">
        <div class="header"
            style="padding-top: 40px; text-align: justify; text-justify: inter-word; font-style: italic;">
            Dotyczy: zlecenia {{number}}.
        </div>

        <div style="padding-top: 50px; padding-bottom: 30px; text-align: center; font-weight: bold; font-size:14pt;">
            Historia zlecenia nr {{number}} z dnia {{date_issue}} roku
        </div>

        <div
            style="padding-top: 10px; text-align: justify; text-justify: inter-word; font-weight: normal; line-height: 1.5;">
            <div style="font-weight: normal;">Cena netto:</div>
            <ul style="list-style-type: decimal; word-break: break-all;">
                {{net_price_sum}}
            </ul>

            <div style="font-weight: normal;">Cena brutto:</div>
            <ul style="list-style-type: decimal; word-break: break-all;">
                {{grossSum}}
            </ul>

            <div style="font-weight: normal;">Wysokość vat:</div>
            <ul style="list-style-type: decimal; word-break: break-all;">
                {{vatSum}}
            </ul>
        </div>

        <div
        style="padding-top: 2px; text-align: justify; text-justify: inter-word; font-weight: normal; line-height: 1.5;">
            <div style="font-weight: normal;">Data usługi:</div>
            <ul style="list-style-type: decimal; word-break: break-all;">
                {{dateIssue}}
            </ul>

            <div style="font-weight: normal;">Dane usługi:</div>
            <ul style="list-style-type: decimal; word-break: break-all;">
                {{salesData}}
            </ul>
        </div>

        <div
        style="padding-top: 2px; text-align: justify; text-justify: inter-word; font-weight: normal; line-height: 1.5;">
            Zaplacona w sposob: {{paymentType}}
        </div>

        <div
        style="padding-top: 2px; text-align: justify; text-justify: inter-word; font-weight: normal; line-height: 1.5;">
            Dni zapłaty: {{paymentDays}}
        </div>

        <div
            style=" padding-top: 10px; padding-bottom: 10px; text-align: justify; text-justify: inter-word; font-style: italic;">
            Data przygotowania raportu: {{placeIssue}} 
        </div>
</body>

</html>
